.title {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.buttonContainer {
  margin-bottom: 15px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.buttonContainer button {
  width: 150px;
  height: 30px;
  background-color: aqua;
}

.footer {
  text-align: center;
}